@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --light-theme : #F7F7F7;
  --dark-theme : #252525;
  --primary : #6C63FF;
  --search-box : #C3C1E5;
}

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

header{
  background: var(--light-theme);
  /* border: 2px solid red; */
  min-height: 80px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

nav ul{
  display: flex;
  gap: 4rem;
}

nav ul li{
  /* border: 2px solid red; */
  list-style: none;
  padding: .6rem 1.5rem;
  border-radius: 12px;
  background: transparent;
}

nav ul li a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}

nav ul li a:hover{
  width: 100%;
  color: var(--primary);
}

main{
  background: var(--light-theme);
  /* border: 2px solid red; */
  min-height: calc(100dvh - 80px);
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.inputs{
  background: white;
  /* border: 2px solid red; */
  width: 500px;
  height: auto;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  border-radius: 6px;
}

.search-bar{
  border: 2px solid #ccc;
  /* background: var(--search-box); */
  width: 100%;
  max-width: 300px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  padding: .2rem 0;
  border-radius: 5px;
}

.search-bar input{
  /* border: 2px solid red; */
  /* background: var(--search-box); */
  flex: 1;
  padding: .8rem .5rem;
  border: none;
  outline: none;
}

.search-bar i{
  /* border: 2px solid red; */
  color: var(--primary);
  margin-right: 3px;
  font-size: 1.4rem;
}

.theme-btns{
  /* border: 2px solid red; */
  display: flex;
  gap: 10px;
}

.theme-btns button{
  background: var(--primary);
  color: white;
  padding: .8rem;
  border-radius: 12px;
  border: none;
}

.todo{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.task-card{
  /* border: 2px solid red; */
  background: white;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: .5rem .6rem;
  gap: 20px;
  border-radius: 6px;
}

.task-btns{
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

.task-btns button{
  background: var(--primary);
  color: white;
  padding: .4rem;
  border-radius: 7px;
  border: none;
}

.new-task{
  align-self: flex-end;
}

.new-task .new-task-btn{
  background: var(--primary);
  color: white;
  padding: .8rem;
  border-radius: 50%;
  border: none;
}

.new-task-btn i{
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 650px) {
  header, nav ul {
    flex-wrap: wrap;
    gap: 10px;
  }

  .inputs{
    width: 80%;
    flex-direction: column;
  }

  .search-bar{
    width: 80%;
  }

  .search-bar input{
    width: 90%;
  }
}
